<% include ./partials/header.ejs %>
    <div class="w-full min-h-screen bg-zinc-800 px-6 py-8 text-white">
        <div class="cards flex flex-wrap gap-5">
            <% posts.forEach(function(elem){ %>
                <div class="card w-40">
                    <div class="card_image w-full h-full object-cover bg-zinc-700 rounded-lg overflow-hidden">
                        <img src="/images/uploads/<%= elem.image %>" alt="">
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

<% include ./partials/footer.ejs %>